<div class="mobile-menu" id="mobileMenu">
  <div class="mobile-menu-inner">
    <div class="mobile-menu-links">
      <a href="#" class="mobile-menu-link" data-index="01">Home</a>
      <a href="#features" class="mobile-menu-link" data-index="02">Features</a>
      <a href="#pricing" class="mobile-menu-link" data-index="03">Pricing</a>
      <a href="#testimonials" class="mobile-menu-link" data-index="04">Testimonials</a>
      <a href="#integrations" class="mobile-menu-link" data-index="05">Courses</a>
      <a href="#faq" class="mobile-menu-link" data-index="06">FAQ</a>
      <a href="#cta" class="mobile-menu-link" data-index="07">Get Started</a>
    </div>
    <div class="mobile-menu-footer">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
      <a href="#">Contact</a>
    </div>
  </div>
</div>